// @import "~bootstrap/scss/bootstrap";
@use '../scss/partials/variables.scss' as *;
@use '../scss/partials/mixins' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul>li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #1c1c1c;
}

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20rem;

    ul{
        display: flex;


        li{
            text-transform: uppercase;
            font-weight: bolder;
            padding: 1rem;
            color: $main-black;

            &.active a{
            color: $main-blue;
            }
        }
    }

    section.jumbo{
        height: 400px;
        background-image: url(../img/jumbotron.jpg);
        background-size: cover;
    }
}

main{
    div.main-content{
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        background-color: $main-black;
        padding: 3rem 20rem 1.8rem;
        color: white;
    }
    div.container{
        position: relative;

        div.current-titles{
            background-color: $main-blue;
            width: 250px;
            position: absolute;
            top: -75px;
            left: -22px;

            h2{
                text-transform: uppercase;
                text-align: center;
                padding: .7rem 1rem;
            }
        }
    }

    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 1rem;

        article{
            width: calc((100%/6) - 1rem);
            margin-bottom: 3rem;
            align-self: flex-start;

            img{
                width: 260px;
                height: 260px;
                object-fit: cover;
                object-position: top;
                margin-bottom: 1rem;
            }
        }
    }

    div.button{
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            text-transform: uppercase;
            background-color: $main-blue;
            color: white;
            padding: .8rem 5rem;
            font-weight: bolder;
            cursor: pointer;

            &:hover{
                background-color: #57a8f5;
            }
        }
    }

    section.merch-nav{
        background-color: $main-blue;
        padding: 0 20rem;
        display: block;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 4rem 2rem;

            li{
                display: flex;
                align-items: center;
            }

            li>span{
                color: white;
                margin-right: 2rem;
                text-transform: uppercase;
            }

            li>img{
                height: 4rem;
                max-width: 4rem;
                margin-right: 1rem;
            }
        }
    }
}


footer{
    div.footer-container{
        padding: 0 20rem;
        display: flex;
        justify-content: space-between;
        background-image: url(../img/footer-bg.jpg);
    }

    section.navbar{
        padding: 2rem 1rem;

        nav{
            display: flex;

            h3{
                color: white;
                text-transform: uppercase;
                margin: 1rem 0;
            }
        }
    }

    ul>li{
        color: #707070;
        padding: .2rem;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .nav-one,
    .nav-two,
    .nav.three{
        margin-right: 2rem;
    }

    section.dc-logo{
        position: relative;

        img{
            position: absolute;
            right: 50%;
            bottom: -10%;
        }
    }
}
